<html>
    <head>
        <title>Django Mark blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h1>h1 header</h1>
            <h2><a href="">h2 My first post</a></h2>
            <h3>h3 header</h3>
            <p>Aenean eu leo <em>quam</em>. <strong>Pellentesque</strong> ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul><li>list1</li></ul>
            <ul><li>list2</li></ul>
            <div>div</div>
            <nav>defines a set of navigation links</nav>
            <section>sec 2</section>
            <main>main</main>
            <aside> defines some content aside from the content it is placed in (like a sidebar)</aside>
            
        </article>
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
        <footer>defines a footer for a document or section</footer>
    </body>
</html>